<section>
  <div class="references">
    <div class="head">
      <p>What my colleagues say about me</p>
    </div>
    <div class="slider-container">
      <div class="card-container">
        <div
          class="carousel__item card"
          *ngFor="let comment of visibleCards; let i = index"
          [class.active]="i === 1"
        >
          <div class="carousel-container">
            <p class="title">{{ comment.description }}</p>
            <div class="author">
              <div class="seperator"></div>
              <p>{{ comment.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="slide-buttons">
      <button (click)="prevCard()">&#10094;</button>
      <div class="dots">
        <div *ngFor="let state of dotAnimationState; let i = index"
             class="dot" 
             [ngClass]="{'highlight': state}">
        </div>
      </div>
      <button (click)="nextCard()">&#10095;</button>
    </div>
  </div>
</section>
