<section class="header">
  <div [ngSwitch]="selectedOption" class="menu">
    <button class="translation">
      <span class="picked">EN</span>
      <span>DE</span>
    </button>
    <a href="">About me</a>
    <a href="">Skills</a>
    <a href="">Projects</a>
  </div>
  <div class="logo">
    <div class="initials">
      <div class="m">M</div>
      <div class="l">L</div>
    </div>
    <div class="name">
      Maximilian <br />
      Lackmann
    </div>
  </div>
</section>

<!-- <div [ngSwitch]="selectedOption"></div>
  <div ngSwitchCase="'option1'">Option 1</div>
  <divngSwitchCase="'option2'">Option 2</div>
  <div *ngSwitchDefault>Standardoption</div>
</div> -->
