<header>
  <div class="header">
    <div class="menu">
      <button class="translation" (click)="toggleLanguage()">
        <span [class.picked]="selectedLanguage === 'EN'">EN</span>
        <span [class.picked]="selectedLanguage === 'DE'">DE</span>
      </button>
      <a href="#aboutme">{{'header.aboutme' | translate}}</a>
      <a href="#skills">{{'header.skills' | translate}}</a>
      <a href="#portfolio">{{'header.projects' | translate}}</a>
    </div>
    <div routerLink="" class="logo">
      <div class="initials">
        <div class="m">M</div>
        <div class="l">L</div>
      </div>
    </div>
    <div class="content second d-none" (click)="clickEvent()">
      <div class="burger" [ngClass]="status ? 'active' : ''">
        <span></span>
      </div>
      <div class="background-menu" [ngClass]="status ? 'active' : ''"></div>
      <ul class="nav-mobile" [ngClass]="status ? 'active' : ''" (click)="$event.stopPropagation();">
        <a
          href="#portfolio"
          class="hover-underline-animation"
          (click)="clickEventLogo();"
          >{{'burgermenu.projects' | translate}}</a
        >
        <a
          href="#skills"
          class="hover-underline-animation"
          (click)="clickEventLogo();"
          >{{'burgermenu.skills' | translate}}</a
        >

        <a
          href="#aboutme"
          class="hover-underline-animation"
          (click)="clickEventLogo();"
          >{{'burgermenu.aboutme' | translate}}</a
        >

        <button class="translation" (click)="toggleLanguage()">
          <span [class.picked]="selectedLanguage === 'EN'">EN</span>
          <span [class.picked]="selectedLanguage === 'DE'">DE</span>
        </button>
      </ul>
    </div>
  </div>
</header>
