<section id="aboutme">
  <div class="aboutme">
    <div class="left-side" data-aos="fade-up-right">
      <div class="background-image"></div>
      <div class="background-stripes"></div>
    </div>
    <div class="right-side" data-aos="fade-up-left">
      <h3>{{ "aboutme.title" | translate }}</h3>
      <div class="aboutme-container">
        <h1>{{ "aboutme.aboutme" | translate }}</h1>
        <div class="text">
          {{ "aboutme.text1" | translate }}
        </div>
        <div class="text">
          <img src="./assets/img/location.svg" alt="" />
          <p>
            {{ "aboutme.text2" | translate }}
          </p>
        </div>
        <div class="text">
          <img src="./assets/img/cognition.svg" alt="" />
          <p>
            {{ "aboutme.text3" | translate }}
          </p>
        </div>
        <div class="text">
          <img src="./assets/img/releases.svg" alt="" />
          <p>
            {{ "aboutme.text4" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
