<section>
  <div class="aboutme">
    <div class="left-side">
      <img src="./assets/profile.svg" alt="" />
      <div class="background-stripes"></div>
    </div>
    <div class="right-side">
      <h3>Who I Am</h3>
      <div class="aboutme-container">
        <h1>About Me</h1>
        <div class="text">
          I'm a passionate 27-year-old Frontend Developer from Erkrath. Driven
          by curiosity and a constant desire to learn, I love creating visually
          striking and intuitive websites and applications. With a strong work
          ethic and dedication, I'm excited to keep pushing the boundaries of
          what's possible in web development.
        </div>
        <div class="text">
          <img src="./assets/location.svg" alt="" />
          <p>
            Flexible in terms of work environments, I am open to opportunities
            both in and around Erkrath, as well as remote positions.
          </p>
        </div>
        <div class="text">
          <img src="./assets/cognition.svg" alt="" />
          <p>
            I'm always eager for new challenges that help me grow personally and
            enhance my skills and knowledge.
          </p>
        </div>
        <div class="text">
          <img src="./assets/releases.svg" alt="" />
          <p>
            For me, programming is more than just writing code—it's a creative
            approach to solving problems. I thrive on simplifying complex
            challenges into intuitive, user-friendly solutions, helping you turn
            your ideas into reality and achieve your goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
