section {
  background: #1c1c1c;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: relative;
}

.left-side {
  width: 45%;
  height: 100%;
  min-height: 600px;

  position: relative;

  &:hover .background-stripes {
    visibility: visible;
    opacity: 1;
  }
}

.background-image {
  background-image: url("../../assets/me.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 2;
  border: 1px solid #3dcfb6;
  border-radius: 20px;
}

.background-stripes {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 90%;
  width: 100%;
  z-index: 1;
  background: repeating-linear-gradient(
    45deg,
    #3dcfb6 0,
    #3dcfb6 2px,
    transparent 0,
    transparent 27px
  );
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 50%;

  span {
    color: #3dcfb6;
  }

  p {
    color: #5cd1b9;
  }
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border: 1px solid #5cd1b9;
  border-radius: 32px;
  padding: 32px;
  background-color: #1f2e2b;

  h1 {
    color: #5cd1b9;
  }

  .text {
    display: flex;
    align-items: center;
    img {
      height: 32px;
      width: 32px;
      margin-right: 16px;
    }
    p {
      color: white;
      font-size: 16px;
    }
  }
}

.right-side {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  width: 50%;
  margin-top: 80px;
}

@media (max-width: 786px) {
  .aboutme {
    flex-direction: column;
    align-items: center;

    .left-side {
      width: 100%;
    }

    .right-side {
      width: 100%;
    }
  }
  
}

@media (max-width: 500px) {
  .aboutme-container {
    padding: 16px;

    h1 {
      font-size: 50px;
    }
  }

  .left-side {
    min-height: 500px;
  }

  .right-side {
    margin-top: 0;
  }
}
