<section>
  <div class="contact">
    <div class="left-side">
      <div class="information-title">
        <h3>Contact me</h3>
        <h1>
          Let's work <br />
          together
        </h1>
      </div>
      <div class="information-text">
        <h2>Got a problem to solve?</h2>
        <p>
          Feel free to reach out! I'd love to hear your ideas and explore how I
          can contribute to your projects.
        </p>
        <p>Looking for a Frontend developer? <span>Let's talk!</span></p>
      </div>
    </div>
    <div class="right-side">
      <div class="top-side">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <!-- Name Input -->
          <div class="input">
            <span>What's your name?</span>
            <input
              type="text"
              [ngClass]="{
                invalid:
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.invalid
              }"
              placeholder="Your name goes here"
              formControlName="name"
            />
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.invalid
              }"
              >Name is required</small
            >
          </div>

          <!-- Email Input -->
          <div class="input">
            <span>What's your email?</span>
            <input
              type="email"
              [ngClass]="{
                invalid:
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.invalid
              }"
              placeholder="youremail@email.com"
              formControlName="email"
            />
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.invalid
              }"
            >
              {{
                contactForm.get("email")?.hasError("email")
                  ? "Invalid email"
                  : "Email is required"
              }}
            </small>
          </div>

          <!-- Message Input -->
          <div class="input">
            <span>Your message</span>
            <textarea
              rows="1"
              [ngClass]="{
                invalid:
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.invalid
              }"
              placeholder="Hallo Max, I am interested in..."
              formControlName="message"
            ></textarea>
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.invalid
              }"
            >
              {{
                contactForm.get("message")?.hasError("wordCount")
                  ? "At least 10 words required"
                  : "Message is required"
              }}
            </small>
          </div>

          <div class="bottom-side">
            <!-- Checkbox -->
            <div class="send-contact">
              <input
                type="checkbox"
                id="check"
                class="checkbox"
                formControlName="agree"
              />
              <label for="check">
                I've read the <a href="#">privacy policy</a> and agree to the
                processing of my data as outlined.
              </label>
            </div>

            <!-- Submit Button -->
            <div class="btn-container">
              <button type="submit" [disabled]="!contactForm.valid">
                Say Hello ;)
              </button>
              <div *ngIf="isMobileView" class="scroll-up responsive">
                <img src="./assets/scroll-down-arrow.svg" alt="" />
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="messageSent" class="success-message">
          Message sent successfully!
        </div>
      </div>
    </div>
    <div *ngIf="!isMobileView" class="scroll-up">
      <img src="./assets/scroll-down-arrow.svg" alt="" />
    </div>
  </div>
</section>
