<section id="contact">
  <div class="contact">
    <div class="left-side" data-aos="fade-up-right">
      <div class="information-title">
        <h3>{{ "contact.contact" | translate }}</h3>
        <h1>
          {{ "contact.title1" | translate }} <br />
          {{ "contact.title1-1" | translate }}
        </h1>
      </div>
      <div class="information-text">
        <h2>{{ "contact.title2" | translate }}</h2>
        <p>
          {{ "contact.text1" | translate }}
        </p>
        <p>
          {{ "contact.text2" | translate }}
          <span>{{ "contact.text2-1" | translate }}</span>
        </p>
      </div>
    </div>
    <div class="right-side" data-aos="fade-up-left">
      <div class="top-side">
        <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
          <div class="input">
            <span>{{ "contact-form.name" | translate }}</span>
            <input
              type="text"
              [ngClass]="{
                invalid:
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.invalid
              }"
              placeholder="{{ 'contact-form.placeholder' | translate }}"
              formControlName="name"
            />
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('name')?.touched &&
                  contactForm.get('name')?.invalid
              }"
              >{{ "contact-form.small1" | translate }}</small
            >
          </div>
          <div class="input">
            <span>{{ "contact-form.email" | translate }}</span>
            <input
              type="email"
              [ngClass]="{
                invalid:
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.invalid
              }"
              placeholder="{{ 'contact-form.placeholder2' | translate }}"
              formControlName="email"
            />
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('email')?.touched &&
                  contactForm.get('email')?.invalid
              }"
            >
              {{
                contactForm.get("email")?.hasError("email")
                  ? ("contact-form.small2-1" | translate)
                  : ("contact-form.small2" | translate)
              }}
            </small>
          </div>
          <div class="input">
            <span>{{ "contact-form.message" | translate }}</span>
            <textarea
              rows="1"
              [ngClass]="{
                invalid:
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.invalid
              }"
              placeholder="{{ 'contact-form.placeholder3' | translate }}"
              formControlName="message"
            ></textarea>
            <small
              [ngClass]="{
                'ng-visible':
                  contactForm.get('message')?.touched &&
                  contactForm.get('message')?.invalid
              }"
            >
              {{
                contactForm.get("message")?.hasError("required")
                  ? ("contact-form.small3" | translate)
                  : ("contact-form.small3-1" | translate)
              }}
            </small>
          </div>
          <div class="bottom-side">
            <div class="send-contact">
              <input
                type="checkbox"
                id="check"
                class="checkbox"
                formControlName="agree"
              />
              <label for="check">
                {{ "contact-form.checkbox1" | translate }}
                <a routerLink="/privacy-policy">{{
                  "contact-form.checkbox1-1" | translate
                }}</a>
                {{ "contact-form.checkbox1-2" | translate }}
              </label>
            </div>
            <div class="btn-container">
              <button type="submit" [disabled]="!contactForm.valid">
                {{ "contact-form.button" | translate }}
              </button>
              <a
                *ngIf="isMobileView"
                class="scroll-up responsive"
                href="#welcomearea"
              >
                <img src="./assets/img/scroll-down-arrow.svg" alt="" />
              </a>
            </div>
          </div>
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="messageSent" class="success-message">
          {{ "contact-form.sendmessage" | translate }}
        </div>
      </div>
    </div>
    <a *ngIf="!isMobileView" class="scroll-up" href="#welcomearea">
      <img src="./assets/img/scroll-down-arrow.svg" alt="" />
    </a>
  </div>
</section>
