<section id="skills">
  <div class="skills" >
    <h3 data-aos="fade-up-right">{{ "skills.title" | translate }}</h3>
    <div class="skills-content">
      <div class="left-side" data-aos="fade-up-right">
        <div class="skill-set-container">
          <h1>{{ "skills.skillset" | translate }}</h1>
          <div class="text">
            {{ "skills.skillsettext" | translate }}
          </div>
          <div class="text">
            <h2>
              {{ "skills.title2" | translate }}
              <span>{{ "skills.title2-1" | translate }}</span>
            </h2>
          </div>
          <div class="text">
            <p>
              {{ "skills.text" | translate }}
            </p>
          </div>
          <div class="btn-container">
            <a href="#contact" class="btn">
              <span class="text">{{ "skills.button" | translate }}</span>
            </a>
          </div>
        </div>
      </div>

      <div class="right-side" data-aos="fade-up-left">
        <div class="skill-set">
          <div class="skillbox" *ngFor="let item of items">
            <img class="animate-img" [src]="item.imgSrc" alt="" />
            <span>{{ item.text }}</span>
            <div *ngIf="item.tooltip" class="tooltip">
              {{ item.tooltip | translate }} <!-- Tooltip-Text von JSON -->
              <div class="future-skills">
                <img src="./assets/php.png" alt="">
                <img src="./assets/react.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
