<section>
  <div class="skills">
    <div class="left-side">
      <h3>Technologies</h3>
      <div class="skill-set-container">
        <h1>Skill Set</h1>
        <div class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus
          corporis sed quia, voluptas amet natus eos. Ipsum ut vitae fuga et
          aperiam, rerum eum laudantium quam officia temporibus nesciunt non.
        </div>
        <div class="text">
          <h2>You need <span>another skill?</span></h2>
        </div>
        <div class="text">
          <p>
            Feel free to Contact me. I am open for new and exciting projects.
          </p>
        </div>
        <button class="btn"><span class="text">Let's Talk</span></button>

      </div>
    </div>

    <div class="right-side">
      <div class="skillbox" *ngFor="let item of items">
        <img [src]="item.imgSrc" alt="" />
        <span>{{ item.text }}</span>
      </div>
    </div>
  </div>
</section>
