<section>
  <div class="skills">
    <h3>Technologies</h3>
    <div class="skills-content">
      <div class="left-side">
        <div class="skill-set-container">
          <h1>Skill Set</h1>
          <div class="text">
            As an emerging Frontend Developer, I am passionate about modern web design
            and creating innovative user experiences. With each new challenge, I grow
            and continuously improve my skills to build elegant, efficient, and
            user-friendly solutions. My goal is to develop designs that are not only
            functional but also visually captivating.
          </div>
          <div class="text">
            <h2>You need <span>another skill?</span></h2>
          </div>
          <div class="text">
            <p>
              Feel free to Contact me. I am open for new and exciting projects.
            </p>
          </div>
          <button class="btn"><span class="text">Let's Talk</span></button>
        </div>
      </div>

      <div class="right-side">
        <div class="skill-set">
          <div class="skillbox" *ngFor="let item of items">
            <img [src]="item.imgSrc" alt="" />
            <span>{{ item.text }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
