section {
  background-color: #1c1c1c;
  margin: 0 auto;
  max-width: 100%;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.portfolio {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  position: relative;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
    color: #3dcfb6;
    font-size: 24px;
    font-weight: 700;
  }

  h1 {
    color: #3dcfb6;
    font-size: 64px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
  border-top: 1px solid #3dcfb6;
  border-bottom: 1px solid #3dcfb6;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  position: relative;

  &:nth-child(2n) {
    border: none;
  }

  &:hover {
    background: #3dcfb64d;
  }

  &:hover .project-name img {
    visibility: visible;
    opacity: 1;
  }
}

.project-name {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    visibility: hidden;
  }
}

.small-separator {
  color: #3dcfb6;
}

.project-images {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-test {
  position: absolute;
  top: 50%;
  left: 100%; /* Stelle sicher, dass das Bild rechts neben dem Projekt angezeigt wird */
  transform: translate(20%, -50%);
  width: 50%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 2;

  img {
    position: relative; /* Standardmäßige Positionierung */
    z-index: 2; /* Damit das Bild über den Streifen liegt */
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

.active-image {
  visibility: visible;
  opacity: 1;
}

.background-stripes {
  position: absolute;
  top: 10px;  /* Verschiebung nach unten, je nachdem wie stark du die Streifen aus dem Bild haben willst */
  left: 10px; /* Verschiebung nach rechts */
  width: 100%; /* Gleiche Breite wie das img */
  height: 100%; /* Gleiche Höhe wie das img */
  z-index: 1; /* Hinter das Bild legen */
  background: repeating-linear-gradient(
    135deg,
    #3dcfb6 0,
    #3dcfb6 1px,
    transparent 0,
    transparent 8px
  );
  transition: transform 0.3s ease-in-out;
}


@media (max-width: 1024px) {
  .projects {
    .left-side {
      width: 100%;
    }
    .project-images {
      display: none;
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 500px) {
  .project-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
