<section>
  <app-background-animation></app-background-animation>

  <div class="privacy">
    <a href="#welcomearea" class="back-to-menu">
      <img src="./assets/scroll-down-arrow.svg" alt="" />
    </a>
    <h1 id="privacyPolicy">{{ "privacy-policy.title" | translate }}</h1>
    <h2>1. {{ "privacy-policy.data-protection" | translate }}</h2>
    <h3>{{ "privacy-policy.generalInformation" | translate }}</h3>
    <p>
      {{ "privacy-policy.generalInformationText" | translate }}
    </p>
    <h3>{{ "privacy-policy.dataCollectionTitle" | translate }}</h3>
    <h4>{{ "privacy-policy.dataCollectionText1" | translate }}</h4>
    <p>
      {{ "privacy-policy.dataCollectionText2" | translate }}
    </p>
    <h4>{{ "privacy-policy.howCollectDataTitle" | translate }}</h4>
    <p>
      {{ "privacy-policy.howCollectDataText1" | translate }}
    </p>
    <p>
      {{ "privacy-policy.howCollectDataText2" | translate }}
    </p>
    <h4>{{ "privacy-policy.dataUsageTitle" | translate }}</h4>
    <p>
      {{ "privacy-policy.dataUsageText" | translate }}
    </p>
    <h4>{{ "privacy-policy.dataRightsTitle" | translate }}</h4>
    <p>
      {{ "privacy-policy.dataRightsText1" | translate }}
    </p>
    <p>
      {{ "privacy-policy.dataRightsText2" | translate }}
    </p>
    <h2>2. Hosting</h2>
    <p>{{ "privacy-policy.hostingText" | translate }}</p>
    <h3>All-Inkl</h3>
    <p>
      {{ "privacy-policy.allInklText1" | translate }}
      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
    <p>
      {{ "privacy-policy.allInklText1" | translate }}
    </p>

    <h4>{{ "privacy-policy.orderProcessingTitle" | translate }}</h4>
    <p>
      {{ "privacy-policy.orderProcessingText" | translate }}
    </p>
    <h2>3. {{ "privacy-policy.generalNotesTitle" | translate }}</h2>
    <h3>{{ "privacy-policy.generalNotesTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.dataProtectionText1" | translate }}
    </p>
    <p>
      {{ "privacy-policy.dataProtectionText2" | translate }}
    </p>
    <p>
      {{ "privacy-policy.dataProtectionText3" | translate }}
    </p>
    <h3>{{ "privacy-policy.noteonresponsibleTitle" | translate }}</h3>
    <p>{{ "privacy-policy.noteonresponsibleText1" | translate }}</p>
    <p>
      Beispielfirma<br />
      Musterweg 10<br />
      90210 Musterstadt
    </p>

    <p>
      {{ "privacy-policy.noteonresponsibleText2" | translate }}: +49 (0) 123 44 55 66<br />
      E-Mail: lackmann_max&#64;hotmail.de
    </p>
    <p>{{ "privacy-policy.noteonresponsibleText3" | translate }}</p>

    <h3>{{ "privacy-policy.storageDurationTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.storageDurationText" | translate }}
    </p>
    <h3>
      {{
        "privacy-policy.generalInformationforLegalBasisDataProcessingTitle"
          | translate
      }}
    </h3>
    <p>
      {{
        "privacy-policy.generalInformationforLegalBasisDataProcessingText"
          | translate
      }}
    </p>
    <h3>{{ "privacy-policy.recipientsOfPersonalDataTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.recipientsOfPersonalDataText" | translate }}
    </p>
    <h3>{{ "privacy-policy.recovationTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.revocationText" | translate }}
    </p>
    <h3>
      {{ "privacy-policy.rightOfObjectionTitle" | translate }}
    </h3>
    <p>
      {{ "privacy-policy.rightOfObjectionText1" | translate }}
    </p>
    <p>
      {{ "privacy-policy.rightOfObjectionText2" | translate }}
    </p>
    <h3>{{ "privacy-policy.rightOfAppealTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.rightOfAppealText" | translate }}
    </p>
    <h3>{{ "privacy-policy.rightToDataPortabilityTitle" | translate }}</h3>
    <p>
      {{ "privacy-policy.rightToDataPortabilityText" | translate }}
    </p>
    <h3>
      {{ "privacy-policy.InformationCorrectionAndDeletionTitle" | translate }}
    </h3>
    <p>
      {{ "privacy-policy.InformationCorrectionAndDeletionText" | translate }}
    </p>
    <h3>{{ "privacy-policy.rightToRestrictionTitle" | translate }}g</h3>
    <p>
      {{ "privacy-policy.rightToRestrictionText1" | translate }}
    </p>
    <ul>
      <li>
        {{ "privacy-policy.rightToRestrictionText2" | translate }}
      </li>
      <li>
        {{ "privacy-policy.rightToRestrictionText3" | translate }}
      </li>
      <li>
        {{ "privacy-policy.rightToRestrictionText4" | translate }}
      </li>
      <li>
        {{ "privacy-policy.rightToRestrictionText5" | translate }}
      </li>
    </ul>
    <p>
      {{ "privacy-policy.rightToRestrictionText6" | translate }}
    </p>
    <p>
      {{ "privacy-policy.rightToRestrictionText7" | translate }}:
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</section>
