section:not(#shadow-host-companion) {
    padding: 50px 64px 0 64px;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 250px);
}


.legal-notice {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1440px;
    padding-top: 90px;

    position: relative;
}

@media (max-width: 1024px) {
    section:not(#shadow-host-companion) {
      padding: 50px 32px 0 32px;
    }
  }
  
  @media (max-width: 768px) {
    section:not(#shadow-host-companion) {
      padding: 50px 16px 0 16px;
    }
  }
  
  @media (max-width: 500px) {
    section:not(#shadow-host-companion) {
      padding: 50px 8px 0 8px;
    }

    h1 {
        font-size: 50px;
      }
  }