<section>
  <app-background-animation></app-background-animation>
  <div class="legal-notice">
    <h1>Legal Notice</h1>

    <p>
      Maximilian Lackmann<br />
      Musterstra&szlig;e 111<br />
      Geb&auml;ude 44<br />
      40699 Erkrath
    </p>

    <h2>contact</h2>
    <p>
      Telefon: +49 (0) 123 44 55 66<br />
      Telefax: +49 (0) 123 44 55 99<br />
      E-Mail: lackmann_max&#64;hotmail.com
    </p>

    <p>
      Source: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</section>
