<section>
  <app-background-animation></app-background-animation>
  <div class="legal-notice">
    <a href="#welcomearea" class="back-to-menu">
      <img src="./assets/scroll-down-arrow.svg" alt="" />
    </a>
    <h1>{{"legal-notice.title" | translate }}</h1>

    <p>
      Maximilian Lackmann<br />
      Musterstra&szlig;e 111<br />
      Geb&auml;ude 44<br />
      40699 Erkrath
    </p>

    <h2>{{"legal-notice.title2" | translate }}</h2>
    <p>
      Telefon: +49 (0) 123 44 55 66<br />
      Telefax: +49 (0) 123 44 55 99<br />
      E-Mail: info&#64;maximilian-lackmann.com
    </p>

    <p>
      {{"legal-notice.reference" | translate }}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</section>
