section:not(#shadow-host-companion) {
    padding: 50px 64px 0 64px;
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: calc(100vh - 210px);
}

h1 {
  color: #3dcfb6;
}

h2 {
  font-size: 40px;
  color: #3dcfb6;
}

h3 {
  color: #30a793;
}

p {
  font-size: 24px;
}

.legal-notice {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1440px;
  padding-top: 90px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back-to-menu {
  position: absolute;
  right: 16px;
  top: 140px;
  height: 40px;
  width: 60px;
  border-radius: 32px;
  border: 1px solid #3dcfb6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    rotate: 90deg;
    animation: moveRightLeft 2s ease-in-out infinite;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    border-color: #ffffff;
  }
}

@keyframes moveRightLeft {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

@media (max-width: 1024px) {
    section:not(#shadow-host-companion) {
      padding: 50px 32px 0 32px;
    }
  }
  
  @media (max-width: 768px) {
    section:not(#shadow-host-companion) {
      padding: 50px 16px 0 16px;
    }
  }
  
  @media (max-width: 500px) {
    section:not(#shadow-host-companion) {
      padding: 50px 8px 0 8px;
    }

    h1 {
        font-size: 50px;
      }
  }