<section>
  <div class="welcome-area">
    <div class="left-lateral">
      <div class="scroll-down">
        <img src="./assets/scroll-down-arrow.svg" alt="" />
      </div>
      <div class="seperator"></div>
    </div>
    <div class="main-content">
      <h2>Frontend Developer</h2>
      <h1>Maximilian <br> Lackmann</h1>
      <div class="btn-container">
        <button class="btn"><span class="text">Check my work</span></button>
        <button class="btn"><span class="text">Contact me</span></button>
      </div>
    </div>
    <div class="right-lateral">
      <div class="socials">
        <a href="mailto: lackmann_max@hotmail.com">
          <img src="./assets/mail.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/github.svg" alt="" />
        </a>
        <a href="">
          <img src="./assets/linkedin.svg" alt="" />
        </a>
      </div>
      <div class="seperator"></div>
    </div>
    <div class="marquee-container">
      <div class="marquee-content">
        <ng-container *ngFor="let number of [1, 2, 3, 4, 5]">
          <ng-container *ngFor="let item of getItemsWithEmail()">
            <span class="dot">•</span>
            <ng-container *ngIf="item.isLink; else normalText">
              <a [href]="'mailto:' + item.content">{{ item.content }}</a>
            </ng-container>
            <ng-template #normalText>
              <span>{{ item.content }}</span>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
