<section id="welcomearea">
  <div class="welcome-area">
    <div class="left-lateral">
      <a href="#contact" class="scroll-down">
        <img src="./assets/img/scroll-down-arrow.svg" alt="" />
      </a>
      <div class="seperator"></div>
    </div>
    <div class="main-content">
      <h2>{{ "welcome-area.span1" | translate }}</h2>
      <h1>
        Maximilian <br />
        Lackmann
      </h1>
      <div class="btn-container">
        <a href="#portfolio" class="btn"
          ><span class="text">{{ "welcome-area.button1" | translate }}</span></a
        >
        <a href="#contact" class="btn"
          ><span class="text">{{ "welcome-area.button2" | translate }}</span></a
        >
      </div>
    </div>
    <div class="right-lateral">
      <div class="socials">
        <a href="mailto: info@maximilian-lackmann.com">
          <img src="./assets/img/mail.svg" alt="" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/MaxLackmann">
          <img src="./assets/img/github.svg" alt="" />
        </a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/maximilian-lackmann-391b19332/">
          <img src="./assets/img/linkedin.svg" alt="" />
        </a>
      </div>
      <div class="seperator"></div>
    </div>
    <div class="marquee-container">
      <div class="marquee-content">
        <ng-container *ngFor="let number of [1, 2, 3, 4, 5]">
          <ng-container *ngFor="let item of getItemsWithEmail()">
            <span class="dot">•</span>
            <ng-container *ngIf="item.isLink; else normalText">
              <a class="mail-link" [href]="'mailto:' + item.content">{{
                item.content
              }}</a>
            </ng-container>
            <ng-template #normalText>
              <span>{{ item.content | translate }}</span>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
