<footer>
  <div class="footer-container">
    <div class="left-side">
      <div class="logo">
        <div class="initials">
          <div class="m">M</div>
          <div class="l">L</div>
        </div>
        <div></div>
      </div>

      <div class="text">
        <span>{{'footer.webdeveloper' | translate }}</span> <span>{{'footer.location' | translate }}</span>
      </div>
    </div>
    <div class="mid-side">
      <span>© Maximilian Lackmann 2024</span>
    </div>
    <div class="right-side">
      <div class="social-links">
        <a href="https://github.com/MaxLackmann" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/maximilian-lackmann-b8153b314/">LinkedIn</a>
        <a href="mailto: lackmann_max@hotmail.com">Email</a>
        <a routerLink="/legal-notice">{{'footer.legalnotice' | translate }}</a>
      </div>
    </div>
  </div>
</footer>
